<div class="shadow pz bpi afo">
    <div class="qf" style="background-image: url(http://placehold.it/200x200);"></div>
    <div class="qa avz">
        <a href="{{ path('profil', {'id': user.id} ) }}">
            <img class="bpj" src="http://placehold.it/200x200" alt="">
        </a>

        <h6 class="qb">
            <a class="boa" href="{{ path('profil', {'id': user.id} ) }}">{{ user.firstname }}  {{ user.lastname }}</a>
        </h6>

        <p class="afo">{{ user.username }}</p>

        <ul class="bpk">
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Following
                    <h6 class="aej">{{ user.followers|length }}</h6>
                </a>
            </li>

            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Followers
                    <h6 class="aej">{{ user.followed|length }}</h6>
                </a>
            </li>
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Incubateur
                    <h6 class="aej">{{ user.project.incubateur.name }}</h6>
                </a>
            </li>
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Incubateur
                    <h6 class="aej">{{ user.project.name }}</h6>
                </a>
            </li>
        </ul>

        <a class="boa" href="{{ path('logout') }}"><i class="far fa-star fa-2x"></i></a>
    </div>
</div>

<ul class="ca bow box afo">
        <li class="rv b agz">
            {{ render(controller(
                'App\\Controller\\NewPyoupyouController::index'
            )) }}
        </li>
        {% for pyoupyou in pyoupyous %}
            {% set pyoupyouUser = pyoupyou.user %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="http://placehold.it/200x200">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">{{ pyoupyou.date|date('d/m H:i') }}</small>
                            <h6>{{ pyoupyouUser.firstname }} {{ pyoupyouUser.lastname }}
                                {% if pyoupyouUser != user and title == 'Profil' %}
                                     - retweet by {{ user.firstname }} {{ user.lastname }}
                                {% endif %}
                            </h6>
                        </div>

                        <p>{{ pyoupyou.message }}</p>

                        <div class="boy" data-grid="images">
                            <div style="">
                                {#{% if pyoupyou.id in user.likesId %}#}
                                    {#{{ render(controller(#}
                                        {#'App\\Controller\\ActionController::like',
                                    {'pyoupyouId' : pyoupyou.id}#}
                                    {#)) }}#}
                                    {#{% else %}#}
                                    {#<i class="fas fa-heart fa-2x"></i>#}
                                {#{% endif %}#}

                                {{ render(controller(
                                    'App\\Controller\\ActionController::repost',
                                    {'pyoupyouId' : pyoupyou.id}
                                )) }}

                            </div>
                        </div>
                    </div>
                </li>
            {% elseif pyoupyou.isPublic %}
                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="http://placehold.it/200x200">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">{{ pyoupyou.date|date('d/m H:i') }}</small>
                            <h6>{{ user.firstname }} {{ user.lastname }}</h6>
                        </div>

                        <p>{{ pyoupyou.message }}</p>

                        <div class="boy" data-grid="images">
                            <div style="">
                                <i class="far fa-heart fa-2x"></i>
                                <i class="fas fa-retweet fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>