{% if title != 'Accueil' %}
    {% if title == 'Profil' %}
        {% set name =  entity.firstname ~ " - " ~ entity.lastname %}
    {% else %}
        {% set name =  title ~ " - " ~ entity.name %}
    {% endif %}

<div class="shadow pz bpi afo">
    <div class="qf" style="background-image: url(http://placehold.it/200x200);"></div>
    <div class="qa avz">
        <img class="bpj" src="http://placehold.it/200x200" alt="">

        <h6 class="qb">
            {{ name }}
        </h6>

        {% if  title == 'Profil'%}
            <p class="afo">{{ entity.username }}</p>

            <ul class="bpk">
                <li class="bpl">
                    <a href="#userModal" class="boa" data-toggle="modal">
                        Following
                        <h6 class="aej">{{ entity.followers|length }}</h6>
                    </a>
                </li>

                <li class="bpl">
                    <a href="#userModal" class="boa" data-toggle="modal">
                        Followers
                        <h6 class="aej">{{ entity.followed|length }}</h6>
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="bpk">
                <li class="bpl">
                    <a href="#userModal" class="boa" data-toggle="modal">
                        Membres
                        <h6 class="aej">{{ entityUsers|length }}</h6>
                    </a>
                </li>
            </ul>
        {% endif %}

        {% if  title == 'Profil' and user != entity %}
            {% set break = 0 %}
            {% set isFriend = false %}
            {% for friend in entity.followed if break == 0%}
                {% if friend.userTo ==  user %}
                    {% set isFriend = true %}
                    {% set break = 1 %}
                {% endif %}
            {% endfor %}

            {% if isFriend %}
                <i class="fas fa-star fa-2x"></i>
            {% else%}
                {{ render(controller(
                    'App\\Controller\\ActionController::follow',
                    {'userId' : entity.id}
                )) }}
            {% endif %}

        {% endif %}
    </div>
</div>
{% endif %}

<ul class="ca bow box afo">
        {% if is_granted('IS_AUTHENTICATED_FULLY') and ((title == 'Profil' and user == entity) or (entityUsers is defined and (user in entityUsers))) %}
            <li class="rv b agz">
                {{ render(controller(
                    'App\\Controller\\NewPyoupyouController::index',
                    {'entity' : entity}
                )) }}
            </li>
        {% endif %}
        {% for pyoupyou in pyoupyous %}
            {% set pyoupyouUser = pyoupyou.user %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="http://placehold.it/200x200">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">{{ pyoupyou.date|date('d/m H:i') }}</small>
                            <h6>
                                <a href="{{ path('profil', {'id': pyoupyouUser.id} ) }}"> {{ pyoupyouUser.firstname }} {{ pyoupyouUser.lastname }}</a>
                                {% if title == 'Profil'  and  pyoupyouUser != entity %}
                                     - retweet by {{ entity.firstname }} {{ entity.lastname }}
                                {% endif %}


                            </h6>
                        </div>

                        <p>{{ pyoupyou.message }}</p>

                        <div class="boy" data-grid="images">
                            <div style="">
                                {% if pyoupyou in user.pyoupyousLike %}
                                        <i class="fas fa-heart fa-2x"></i>
                                    {% else %}
                                        {{ render(controller(
                                            'App\\Controller\\ActionController::like',
                                            {'pyoupyouId' : pyoupyou.id}
                                        )) }}
                                {% endif %}

                                {{ render(controller(
                                    'App\\Controller\\ActionController::repost',
                                    {'pyoupyouId' : pyoupyou.id}
                                )) }}
                            </div>
                        </div>
                    </div>
                </li>
            {% elseif pyoupyou.isPublic %}
                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="http://placehold.it/200x200">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">{{ pyoupyou.date|date('d/m H:i') }}</small>
                            <h6><a href="{{ path('profil', {'id': pyoupyouUser.id} ) }}">{{ user.firstname }} {{ user.lastname }}</a></h6>
                        </div>

                        <p>{{ pyoupyou.message }}</p>

                        <div class="boy" data-grid="images">
                            <div style="">
                                <i class="far fa-heart fa-2x"></i>
                                <i class="fas fa-retweet fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>