{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="shadow pz bpi afo">
    <div class="qa avz">
        <a href="{{ path('homepage')}}">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        </a>
    </div>
</div>
    <form class="shadow pz vp vy afo" action="{{ path('result') }}" method="get">
        <input class="form-control" name = "searchValue" type="text" placeholder="Search">

    </form>
<div class="shadow pz bpi afo">
    <div class="qf" style="background-image: url(http://placehold.it/200x200);"></div>
    <div class="qa avz">
        <a href="{{ path('profil', {'id': user.id} ) }}">
            <img class="bpj" src="http://placehold.it/200x200" alt="">
        </a>

        <h6 class="qb">
            <a class="boa" href="{{ path('profil', {'id': user.id} ) }}">{{ user.firstname }}  {{ user.lastname }}</a>
        </h6>

        <p class="afo">{{ user.username }}</p>

        <ul class="bpk">
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Following
                    <h6 class="aej">{{ user.followers|length }}</h6>
                </a>
            </li>

            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Followers
                    <h6 class="aej">{{ user.followed|length }}</h6>
                </a>
            </li>
        </ul>

        <a class="boa" href="{{ path('logout') }}"><i class="fas fa-power-off fa-2x"></i></a>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_INCUB') or is_granted('ROLE_POJECT')%}
            <a class="boa" href="{{ path('admin') }}">Administration</a>
        {% endif %}
    </div>
</div>

{% if user.project %}
{% set project = user.project %}
{% set incubator = user.project.incubator %}
<div class="shadow pz vp vy afo">
    <div class="qa">
        <h6 class="afh">{{"Incubateur - " ~ incubator.name }} <small>· <a href="{{ path('incub', {'id': incubator.id}) }}">View</a></small></h6>
        <ul class="dc axg">
            <li>Description :  <a href="#">{{ incubator.description }}</a>
            <li>Info 2 <a href="#">incubator</a>
        </ul>
    </div>
</div>
<div class="shadow pz vp vy afo">
    <div class="qa">
        <h6 class="afh">{{ "Projet - " ~ project.name }} <small>· <a href="{{ path('group', {'id': project.id}) }}">View</a></small></h6>
        <ul class="dc axg">
            <li>Description :  <a href="#">{{ project.description }}</a>
            <li>Info 2 <a href="#">Obama</a>
        </ul>
    </div>
</div>

{% endif %}
{% endif %}