{% extends 'security/admin.html.twig'%}

{% block title %}Pyoupyou index{% endblock %}

{% block content %}
    <h1>Pyoupyou index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Date</th>
                <th>IsPublic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pyoupyou in pyoupyous %}
            <tr>
                <td>{{ pyoupyou.id }}</td>
                <td>{{ pyoupyou.message }}</td>
                <td>{{ pyoupyou.date ? pyoupyou.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pyoupyou.isPublic ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('pyoupyou_show', {'id': pyoupyou.id}) }}">show</a>
                    <a href="{{ path('pyoupyou_edit', {'id': pyoupyou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pyoupyou_new') }}">Create new</a>
{% endblock %}
