{% extends 'security/admin.html.twig'%}

{% block title %}Pyoupyou{% endblock %}

{% block content %}
    <h1>Pyoupyou</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pyoupyou.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ pyoupyou.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ pyoupyou.date ? pyoupyou.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ pyoupyou.user}}</td>
            </tr>
            <tr>
                <th>Projet</th>
                <td>{{ pyoupyou.project}}</td>
            </tr>
            <tr>
                <th>Incubateur</th>
                <td>{{ pyoupyou.incubator}}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ pyoupyou.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pyoupyou_index') }}">back to list</a>

    <a href="{{ path('pyoupyou_edit', {'id': pyoupyou.id}) }}">edit</a>

    {{ include('admin/pyoupyou/_delete_form.html.twig') }}
{% endblock %}
