{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<ul class="ca bow box afo">
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> Si vous n'etes pas connecté , vous n'aurez pas accés à tout le contenue.
    </div>
    {% endif %}
    {% for key, entity in results %}
        {% if key == 'User' %}
            <li class="rv b agz">
                <img
                        class="bos vb yb aff"
                        src="http://placehold.it/200x200">
                <div class="rw">
                    <div class="bpd">
                        <div class="bpb">
                            <small class="acx axc">{{ entity.username|e }}</small>
                            <h6><a class="boa" href="{{ path('profil', {'id': entity.id} ) }}">{{ entity.firstname }} ~" - "~ {{ entity.lastname }}</a></h6>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li class="rv b agz">
                <img
                        class="bos vb yb aff"
                        src="http://placehold.it/200x200">
                <div class="rw">
                    <div class="bpd">
                        <div class="bpb">
                            <h6><a class="boa" href="{{ path('profil', {'id': user.id} ) }}">{{key ~ " - " ~ entity.name}}</a></h6>
                        </div>
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}

    {% for proje %}

</ul>
{% endblock %}
