{% extends 'layouts/authentification.html.twig'%}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block home__pannel__right %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Vous êtes Inscrit·e !</h4>
        </div>
    {% endif %}

    {# form_start(form, {'attr': {'novalidate': 'novalidate'}}) #}
    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        <hr/>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit) }}
        <input type="hidden" name="_target_path" value="/login" />
    {{ form_end(form) }}

{% endblock %}
